body {
  background-color: #ffa200;
  color: green;
  font-family: "Arial", "Verdana", sans-serif;
}

h1 {
  background-color: red;
}

.green-bg {
  background-color: green;
}

.yossi {
  background-color: blue;
}
