@font-face {
  font-family: NarkisBlockMF;
  src: url("fonts/NarkisBlock-Regular.otf");
  font-weight: 200;
}

@font-face {
  font-family: NarkisBlockMF;
  src: url("fonts/NarkisBlock-Medium.otf");
  font-weight: 600;
}

@font-face {
  font-family: NarkisBlockMF;
  src: url("fonts/NarkisBlock-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: NarkisBlockMF;
  src: url("fonts/NarkisBlock-Black.otf");
  font-weight: 800;
}

@font-face {
  font-family: NextExit;
  src: url("fonts/NextExitLight.otf");
  font-weight: 200;
}

@font-face {
  font-family: NextExit;
  src: url("fonts/NextExitRegular.otf");
  font-weight: 300;
}

@font-face {
  font-family: NextExit;
  src: url("fonts/NextExitBold.otf");
  font-weight: 600;
}

@font-face {
  font-family: NextExit;
  src: url("fonts/NextExitExtraBold.otf");
  font-weight: 800;
}

body {
  text-align: center;
  background-color: #eee;
  direction: rtl;
  margin: 0;
  padding: 0;
  font-family: "NarkisBlockMF", "Avenir Next", sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  padding: 0;
  overflow-x: hidden;
  font-size: 18px;
}

.eng {
  font-family: "Avenir";
  font-weight: 500;
}

a {
  color: #ffa200;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "NextExit";
}

h1 {
  font-size: 2em;
}

h2 {
  color: #ffa200;
  font-size: 6em;
  line-height: 0.6em;
  font-weight: 900;
  margin-bottom: -21px;
  margin-right: -70px;
  z-index: 1;
  text-align: right;
  margin-top: 40px;
}

p {
  text-align: right;
  margin: 0.8em 0;
}

.hero {
  position: relative;
  background-image: url(banner.jpg);
  background-size: cover;
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #ffa200;
  z-index: 1;
  opacity: 0.75;
  transition: opacity 400ms ease;
}

.article-title {
  width: 80%;
  height: 60%;
  z-index: 4;
}

.article-title path {
  fill: #fff;
  stroke: #fff;
  stroke-width: 1px;
  fill-rule: evenodd;
  transition: stroke-width 400ms ease;
}

/* .hero:hover .article-title path {
  stroke-width: 0px;
}

.hero:hover .backdrop {
  opacity: 0.4;
} */

.article {
  width: 500px;
  margin: auto;
  margin-bottom: 3em;
}

.summary {
  font-weight: bold;
  font-family: "NextExit";
  font-weight: 100;
  font-family: "NextExit";
  font-size: 2.25em;
  line-height: 1em;
  margin-right: -70px;
  margin-left: -5px;
  margin-top: 0.5em;
}

.summary strong {
  font-weight: 600;
}

.author {
  text-align: center;
  color: #888;
  margin-right: -70px;
}

figure {
  padding: 0;
  margin: 0;
  width: 80%;
  position: relative;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

figure.right {
  margin-left: 1.2em;
  margin-right: -160px;
  float: right;
}

figure.left {
  margin-right: 1.2em;
  margin-left: -160px;
  float: left;
}

figure.large {
  width: 140%;
  margin-right: -20%;
  margin-bottom: 2.5em;
}

figure img {
  width: 100%;
}

figcaption {
  position: absolute;
  top: 100%;
  width: 30%;
  font-size: 0.8em;
  font-weight: 500;
  line-height: 1.2em;
  padding-top: 1em;
}

figure.right figcaption {
  text-align: right;
  right: 0;
}

figure.left figcaption {
  text-align: left;
  left: 0;
}

figure.large figcaption {
  text-align: left;
  left: 0;
}

figure .overlay {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: background 300ms ease;
  cursor: zoom-in;
}

figure .overlay:hover {
  /* background-color: rgba(255, 160, 20, 0.7); */
  background-color: rgba(0, 0, 0, 0.4);
}

figure .overlay:hover .zoom-text path {
  stroke-width: 3px;
  opacity: 1;
  transition: stroke-width 500ms ease, opacity 200ms ease;
}

.zoom-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  height: 30%;
  transform: translate(-50%, -50%);
}

.zoom-text path {
  fill: #fff;
  stroke: #fff;
  stroke-width: 0px;
  fill-rule: evenodd;
  opacity: 0;
  transition: stroke-width 300ms ease, opacity 300ms ease;
}

footer {
  color: #999;
  font-size: 0.8em;
  margin-bottom: 2em;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.progress-indicator {
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.progress-indicator > div {
  background-color: #ffa200;
  width: 0%;
  height: 100%;
}

.nav-link {
  width: 100px;
  cursor: pointer;
  font-weight: 500;
  color: #888;
  transition: color 300ms ease;
}

.nav-link:hover {
  color: #000;
}

.logo {
  display: block;
  width: calc(28px * 2);
  height: calc(22px * 2);
  position: relative;
  cursor: pointer;
  margin: 0 40px;
}

.letter {
  position: absolute;
}

.letter > div {
  background-color: #000;
  position: absolute;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
  transition: box-shadow 300ms ease;
}

.logo:hover .letter > div {
  box-shadow: 0px 0px 0px 1.5px rgba(0, 0, 0, 1);
}

.bet {
  height: calc(100% * (10 / 22));
  width: calc(100% * (10 / 28));
}

.bet .top {
  right: 20%;
  height: 40%;
  width: 80%;
}

.bet .middle {
  right: 20%;
  height: 100%;
  width: 40%;
}

.bet .bottom {
  top: 60%;
  height: 40%;
  width: 100%;
}

.lamed {
  height: 100%;
  width: calc(100% * (16 / 28));
}

.lamed .flag {
  right: 75%;
  height: calc(100% * (16 / 22));
  width: 25%;
}

.lamed .top {
  top: calc(100% * (12 / 22));
  height: calc(100% * (4 / 22));
  width: 100%;
}

.lamed .bottom {
  top: calc(100% * (18 / 22));
  height: calc(100% * (4 / 22));
  width: 100%;
}

.lamed .middle {
  top: calc(100% * (12 / 22));
  height: calc(100% * (10 / 22));
  width: 25%;
}

.vav {
  top: calc(100% * (12 / 22));
  right: calc(100% * (18 / 28));
  height: calc(100% * (10 / 22));
  width: calc(100% * (4 / 28));
}

.vav .middle {
  width: 100%;
  height: 100%;
}

.kuf {
  top: 0;
  right: calc(100% * (18 / 28));
  height: 100%;
  width: calc(100% * (10 / 28));
}

.kuf .top {
  height: calc(100% * (4 / 22));
  width: 100%;
}

.kuf .middle {
  height: calc(100% * (10 / 22));
  width: 40%;
}

.kuf .bottom {
  top: calc(100% * (6 / 22));
  right: 60%;
  height: calc(100% * (16 / 22));
  width: 40%;
}
