@font-face {
  font-family: "NeueBit";
  src: url("NeueBit-Bold.ttf");
}

body {
  text-align: left;
  background-color: #0000ff;
  margin: 0;
  padding: 2em;
  font-family: "NeueBit", monospace;
  color: #ffffff;
  -webkit-font-smoothing: none;
  /*line-height: 1.5em;*/
}

#root {
}

#gallery {
  margin-top: 4em;
  margin: 2em;
}

.gallery-item {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  color: #ffff00;
  font-size: 1.6em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.gallery-item img {
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.gallery-item p {
  top: 0;
  left: 0;
  z-index: 100;
  position: relative;
  margin: 0;
  margin-top: 1em;
  display: block;
  padding: 1em;
  line-height: 0.7em;
}

.gallery-item:hover {
  cursor: pointer;
  color: #0000ff;
  text-shadow: none;
}

.gallery-item.active p span,
.gallery-item:hover p span {
  color: #0000ff;
  text-shadow: none;
  background-color: #ffff00;
}

.gallery-item.fade {
  opacity: 0.5;
  color: #0000ff !important;
}

#lightbox {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.image-container {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: right;
}

.image-container img {
  width: 100%;
}

#image-text {
  color: #ffffff;
  font-size: 1.3em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin: 0.2em;
}

#lightbox.large .image-container {
  width: 80%;
}

#lightbox.small .image-container {
  width: 35%;
}

#lightbox.right .image-container {
  left: 40%;
}

#lightbox.left .image-container {
  left: 60%;
}
